* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: ford;
}

@font-face {
    font-family: ford;
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/FordAntenna-Light.woff);
    src: url(../fonts/FordAntenna-Light.woff2);
}

#loginground {
    width: 100%;
    height: 850px;
    background-color: #f4f4f4;
}

#toplogo {
    width: 155px;
    height: 65px;
    margin-top: 50px;
    margin-left: 685px;
    filter: grayscale(50%)
}

#formground {
    width: 470px;
    height: 610px;
    background-color: #ffffff;
    margin: 40px auto;
    box-shadow: 0px 8px 6px 1px rgb(211, 211, 211), 0px 2px 6px -15px rgb(210, 210, 210);
}

#formfirstnote {
    text-align: center;
    padding-top: 50px;
    letter-spacing: 2px;
}

#formsecondnote {
    text-align: center;
    padding: 30px 50px;
    letter-spacing: 1px;
}

#email {
    display: flex;
    width: 350px;
    height: 45px;
    border: 1px solid black;
    border-radius: 3px;
    margin: 20px auto;
    padding-left: 18px;
    font-size: 17px;
    letter-spacing: 1px;
}

input:focus::placeholder {
    color: transparent;
}

#password {
    display: flex;
    width: 350px;
    height: 45px;
    border: 1px solid black;
    border-radius: 3px;
    margin: 50px auto;
    padding-left: 18px;
    font-size: 17px;
    letter-spacing: 1px;
}

#button {
    display: flex;
    width: 150px;
    height: 45px;
    margin: 20px auto;
    background-color: #102b4e;
    cursor: pointer;
    border-radius: 25px;
    color: white;
    justify-content: center;
    font-size: 18px;
    letter-spacing: 1px;
    transition: all 0.4s ease 0s;
    box-shadow: 0px 9px 10px 1px rgb(199, 199, 199);
}

#button:hover {
    width: 155px;
    background-color: #3f6fae;
    box-shadow: 0px 9px 10px 4px rgb(199, 199, 199);
}

#forgetp {
    display: inline-block;
    margin-top: 5px;
    margin-left: 140px;
    text-decoration: none;
    color: #00095b;
    letter-spacing: 1px;
    font-weight: bold;
}

#rightarrow {
    margin-left: 16px;
    font-size: 18px;
}

#forgetp:hover {
    text-decoration: underline;
    color: #3f6fae;
}

#borderbot {
    margin: 20px auto;
    width: 240px;
    height: 2px;
    background-color: #b5b5b5;
}

#createa {
    display: inline-block;
    margin-left: 140px;
    text-decoration: none;
    color: #00095b;
    letter-spacing: 1px;
    font-weight: bold;
}

#rightarrow1 {
    margin-left: 16px;
    font-size: 18px;
}

#createa:hover {
    text-decoration: underline;
    color: #3f6fae;
}

#goback {
    display: inline-block;
    margin-top: 5px;
    margin-left: 190px;
    text-decoration: none;
    color: #00095b;
    letter-spacing: 1px;
    font-weight: bold;
}

#leftarrow {
    margin-right: 10px;
    font-size: 18px;
}

#goback:hover {
    text-decoration: underline;
    color: #3f6fae;
}

#mainfooterbox {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 195px;
    background-color: #f1f1f1;
    margin: 0px auto;
    box-shadow: 0px -1px 7px rgb(202, 202, 202);
}

#mainfooterbox h3 {
    color: #112c4f;
    text-align: center;
    margin: 20px auto;
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: lighter;
}

#mainfooterbox h5 {
    color: #505050;
    text-align: center;
    margin: -10px auto;
    font-size: 15px;
    letter-spacing: 1px;
}

#here {
    color: #505050;
    text-decoration: underline #505050;
    transition: all 0s ease 0s;
}

#here:hover {
    color: #3f6fae;
}

.footbut1 {
    display: block;
    position: relative;
    width: 380px;
    height: 40px;
    border-radius: 20px;
    margin: 35px auto;
    background-color: #102b4e;
    text-align: center;
    line-height: 40px;
    color: white;
    font-size: 17px;
    transition: all 0.4s ease 0s;
    text-decoration: none;
    box-shadow: 0px 9px 10px 1px rgb(199, 199, 199);
}

.footbut1:hover {
    width: 400px;
    background-color: #3f6fae;
    box-shadow: 0px 9px 10px 4px rgb(199, 199, 199);
}

#mainfooterbot {
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    box-shadow: 0px 2px 7px rgb(202, 202, 202);
}

#logobot {
    margin-top: 20px;
    margin-left: 560px;
    width: 133px;
    height: 50px;
    filter: grayscale(50%);
}

#logotext {
    position: absolute;
    margin-left: 10px;
    margin-top: 37px;
    text-decoration: none;
    color: #2060a9;
    font-size: 13px;
    letter-spacing: 1px;
}

#logotext:hover {
text-decoration: underline;
}

#mainfooterbot1 {
    width: 100%;
    height: 80px;
    background-color: #ffffff;
}

.ulbot {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    margin-left: 400px;
    margin-right: 400px;
}

.ulbot1 {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    margin-left: 600px;
    margin-right: 600px;
}

.abot {
    display: inline;
    text-decoration: none;
    color: #2060a9;
    font-size: 13px;
}

.abot:hover {
    text-decoration: underline;
}